body {
  margin: 0%;
  width: 100%;
}

header {
  border: 1px solid black;
  text-align: center;
  background-color: rgb(42, 95, 42);
  padding: 50px 0 50px;
  color: white;

}
nav {
  border: 3px solid rgb(6, 32, 4);
  margin: 20px 0px 0px 20px;
  width: 250px;
  height: 353px;
  border-radius: 10px;
  text-transform: uppercase;
  background: rgb(65, 146, 65);
  display: inline-block;

}
.clases {
  border: 1px solid black;
  height: 60px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgb(30, 71, 30);
  color: white;

}
.clases:hover {
  background-color: rgb(42, 95, 42);
}
.repositorio{
  border: 1px solid black;
 height: 50px;
 width: 100px;
 display: block;


 }